chatbot/bright-chatbotTotelegram.json
[{"id":"4e35ef2c.f16d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"353aee2b.95bb42","type":"debug","z":"4e35ef2c.f16d8","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":100,"y":360,"wires":[]},{"id":"1587ddb5.2656f2","type":"debug","z":"4e35ef2c.f16d8","name":"saida wa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":280,"wires":[]},{"id":"bd7a85e5.281d78","type":"change","z":"4e35ef2c.f16d8","name":"Proc entrada","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["d8939be2.9bd918","8a5f0068.88344"]]},{"id":"d8939be2.9bd918","type":"watson-assistant-v2","z":"4e35ef2c.f16d8","name":"","service-endpoint":"","assistant_id":"263d2d05-20a4-4390-95dd-48401f2791b2","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":890,"y":320,"wires":[["1587ddb5.2656f2","5aa26047.c5159"]]},{"id":"6181201b.36576","type":"change","z":"4e35ef2c.f16d8","name":"Proc Retorno","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":540,"wires":[["4ab71d22.e23394","aabee3a1.3297d"]]},{"id":"4ab71d22.e23394","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":500,"wires":[]},{"id":"8a5f0068.88344","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"558fd5c5.a8e4ac","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2030,"y":580,"wires":[]},{"id":"cd74c5a8.2532f8","type":"watson-speech-to-text","z":"4e35ef2c.f16d8","name":"Watson STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"zg90W79D389m12Ojwf0jXdUAhK64EWoR-L2Mm5vbwwlm","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e7ca6bf4-546e-4397-8598-1477ca916e79","x":710,"y":480,"wires":[["d8939be2.9bd918","8989c6b8.919ba8"]]},{"id":"8989c6b8.919ba8","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"22635b70.298324","type":"function","z":"4e35ef2c.f16d8","name":"","func":"msg.payload = msg.payload.weblink;\nmsg.chatid = msg.payload.chatid;\nmsg.params.type = \"voice\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["cd74c5a8.2532f8","60bb50f8.93b3"]]},{"id":"37d42cc5.15c2a4","type":"change","z":"4e35ef2c.f16d8","name":"Proc entrada","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[["22635b70.298324"]]},{"id":"69d849fe.39b058","type":"switch","z":"4e35ef2c.f16d8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":400,"wires":[["bd7a85e5.281d78","e1e2b6c0.006418"],["37d42cc5.15c2a4","e1e2b6c0.006418"]]},{"id":"e1e2b6c0.006418","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":440,"wires":[]},{"id":"cf299ea6.172df","type":"telegram receiver","z":"4e35ef2c.f16d8","name":"BrightPTBR_bot","bot":"2eeed1cb.1a9e5e","saveDataDir":"","filterCommands":false,"x":80,"y":400,"wires":[["353aee2b.95bb42","69d849fe.39b058"],["660b3d6d.17e804"]]},{"id":"aabee3a1.3297d","type":"telegram sender","z":"4e35ef2c.f16d8","name":"","bot":"2eeed1cb.1a9e5e","haserroroutput":false,"outputs":1,"x":1930,"y":540,"wires":[["558fd5c5.a8e4ac"]]},{"id":"b78f38df.3a1248","type":"watson-text-to-speech","z":"4e35ef2c.f16d8","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/mp3","password":"","apikey":"VOVSo4F1Ld6Meyu37_gOwbHfzrFK3ynI79ZpjO6LLqCz","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/6d297d02-499c-4f24-a567-49b68c3f505f","x":1660,"y":260,"wires":[["be3a5bd7.463258","9db9b528.7bebe8"]]},{"id":"be3a5bd7.463258","type":"play audio","z":"4e35ef2c.f16d8","name":"","voice":"","x":1810,"y":180,"wires":[]},{"id":"9db9b528.7bebe8","type":"function","z":"4e35ef2c.f16d8","name":"","func":"msg.payload = {\n    content : msg.payload,\n    type: \"voice\",\n    chatId: msg.params\n}\nmsg.payload.chatId = msg.chatId\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":360,"wires":[["aabee3a1.3297d"]]},{"id":"893beb55.e6eca8","type":"function","z":"4e35ef2c.f16d8","name":"ConverteOptionToString","func":"msg.params = msg.payload.chatId\n\nlet title = msg.payload.output.generic[0].title\nlet descricao = msg.payload.output.generic[0].description\nlet options = msg.payload.output.generic[0].options\nlet optionsString=\"\"\n\nlet option1 = options[0].label\nlet option2 = options[1].label\n\noptionsString=option1+\" ou \"+option2\n\nmsg.payload = title+descricao+optionsString\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":340,"wires":[["b78f38df.3a1248","1a3769a0.346d16"]]},{"id":"5aa26047.c5159","type":"switch","z":"4e35ef2c.f16d8","name":"","property":"params.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"neq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":380,"wires":[["b937d7b3.ada5d8"],["caf02aea.617268"]]},{"id":"660b3d6d.17e804","type":"function","z":"4e35ef2c.f16d8","name":"Acesso negado","func":"msg.payload.content=\"Acesso Negado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":920,"wires":[["aabee3a1.3297d"]]},{"id":"60bb50f8.93b3","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"b937d7b3.ada5d8","type":"switch","z":"4e35ef2c.f16d8","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"option","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":240,"wires":[["ad0103da.6956f"],["893beb55.e6eca8"]]},{"id":"ad0103da.6956f","type":"function","z":"4e35ef2c.f16d8","name":"ConverteOutputTextToPayload","func":"msg.params = msg.payload.chatId\nmsg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":140,"wires":[["b78f38df.3a1248"]]},{"id":"1a3769a0.346d16","type":"debug","z":"4e35ef2c.f16d8","name":"optionMsg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":380,"wires":[]},{"id":"813c0cee.296c1","type":"function","z":"4e35ef2c.f16d8","name":"ConverteOptionToString2","func":"let title = msg.payload.output.generic[0].title\nlet descricao = msg.payload.output.generic[0].description\nlet options = msg.payload.output.generic[0].options\nlet optionsString=\"\"\n\nlet option1 = options[0].label\nlet option2 = options[1].label\n\noptionsString=option1+\" ou \"+option2\n\noptionMsg = title+\" \"+descricao+\" \"+optionsString\nmsg.payload.output.generic[0].text = optionMsg\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":640,"wires":[["6181201b.36576"]]},{"id":"caf02aea.617268","type":"switch","z":"4e35ef2c.f16d8","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"option","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":540,"wires":[["6181201b.36576"],["813c0cee.296c1","f1cbc290.3e0f9"]]},{"id":"f1cbc290.3e0f9","type":"debug","z":"4e35ef2c.f16d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":500,"wires":[]},{"id":"2eeed1cb.1a9e5e","type":"telegram bot","botname":"BrightBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]